<div class="hero-unit" >
	<h1>Welcome to one month rails</h1>
	<p>
		my new website built by rails 
		<%= link_to "one month rails", "http://onemonthrails.com" %>
	</p>
	<p>
		<%= link_to "sign up now", new_user_registration_path, class: "btn btn-primary" %>
	</p>
</div>